<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>

  <button
    class="p-button-help"
    pButton
    icon="pi pi-moon"
    iconPos="right"
    (click)="mostrarNombre()"
  >
    Cambiar nombre
  </button>
  <hr />

  <p-card style="width: 20%">
    <ng-template style="text-align: center" pTemplate="header">
      Simple Card
    </ng-template>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
    consequuntur error repudiandae numquam deserunt quisquam repellat libero
    asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
    neque quas!
    <ng-template pTemplate="footer"> Made by Enrique </ng-template>
  </p-card>
</div>
